* {
    color: #6f6f6f;
}

.fab {
    background-color: transparent;
}

html, body {
    margin: 0; /* Loại bỏ khoảng cách mặc định */
    padding: 0; /* Loại bỏ padding mặc định */
    width: 100%; /* Chiếm toàn bộ chiều rộng */
    min-height: 100vh; /* Chiếm toàn bộ chiều cao */
}

body {
    background-image: url(/Data/blur2.jpg);
    background-size: cover;
}

.wrapper {
    background-color: #0000008c;
    border-radius: 20px;
    padding: 50px 20px;
    margin: 0 10px 0;
}

html {
    scrollbar-gutter: auto !important;
}

.page-content {
    padding: 20px 0 !important;
}

nav {
    display: none;
}


.social-network {
    display: flex;
    justify-content: space-around;

}

.fa-facebook {
    color: #0866ff;
}
.fab {
    transition: 0.2s ease-in-out;
}

.fab:hover {
   transform: scale(1.2);
   transition: 0.2s ease-in-out;
}

.fa-instagram {
    color: #d03960;
}
.fa-tiktok {
    color: white;
}
html.dark-theme .fa-facebook {
    color: #0866ff;
}

html.dark-theme .fa-instagram {
    color: #d03960;
}

html.dark-theme .fa-tiktok {
    color: white;
}

@media screen and (max-width : 900px) {
    .social-network-name {
        display: none;
    }
}
