@model List<string>
@{
    ViewBag.Title = "Gallery";
}

<link href="~/Content/GalleryStyle.css" rel="stylesheet" />

<article class="container">
    <h1><b>Ảnh tớ đã chụp</b></h1>

    <p style="color: #6f6f6f;">
            Đây là những bức ảnh mà tớ đã ghi lại!
            Mỗi tấm ảnh là một khoảnh khắc tớ muốn chia sẻ, hy vọng cậu sẽ thấy gần gũi và có chút cảm hứng từ những mảnh ghép đời thường này của tớ!
    </p>
    <hr style="border: 1px dashed; margin: 30px 0;" />
    <div class="gallery d-grid">
        @foreach (var item in Model)
        {
            <a><img data-src="@Url.Content(item)" alt="img" class="lazyload" /></a>
        }
    </div>
</article>
<div class="d-flex justify-content-center mt-5">
    <a class="ig_link" href="https://www.instagram.com/van_vnice"><b>Instagram của tớ..</b></a>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
     

        const galleryImages = document.querySelectorAll(".gallery a img");
        const modalOverlay = document.createElement("div");
        modalOverlay.classList.add("modal-overlay");

        const modalImage = document.createElement("img");
        modalImage.classList.add("modal-image");
        modalOverlay.appendChild(modalImage);

        document.body.appendChild(modalOverlay);

        galleryImages.forEach(image => {
            image.addEventListener("click", function (e) {
                e.preventDefault();
                modalImage.src = this.src;
                modalOverlay.style.display = "flex";
            });
        });

        modalOverlay.addEventListener("click", function () {
            modalOverlay.style.display = "none";
        });
    });
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js" async></script>

