
@{
    ViewBag.Title = "Introduction";
}

<link href="~/Content/HomeStyle.css" rel="stylesheet" />

<div class="wrapper text-center">
    <img src="~/Images/profile.jpg" alt="Alternate Text" style="max-width: 200px; aspect-ratio: 1/1; border-radius: 100%; " />
    <p style="font-size: 50px; font-weight: bold; margin-top: 10px; border-bottom: 1px dashed #6f6f6f; border-radius: 20px;">Van - Vnice</p>
    <p style="margin-bottom: 30px; border-bottom: 1px dashed #6f6f6f; border-radius: 20px; padding: 10px 0 20px;">Cựu thiếu nhi, con của bố mẹ, em của các anh, anh của các em - một người thường</p>
    <div style="text-align: justify; padding: 0 20px;">
        <p>
            Hi guys !! Tớ tên thật là Vấn, sinh viên chuyên ngành Khoa học máy tính tại HaUI. Tớ có rất nhiều sở thích,
            một vài sở thích của tớ mà tớ có thể kể cho cậu đó là ăn, ngủ, nghe nhạc và chơi Piano.
        </p>
        <div class="text-center mb-4">
            <div style="display: inline-block; height: 40px; border-left: 5px solid #6f6f6f; font-size: 15px; ">
                <i>Không có việc gì khó, <br /> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; nếu khó thì không làm...</i>
            </div>
        </div>
        <p>
            Nếu cậu đã tìm được website này và vẫn còn đang ngồi đọc những dòng chữ này thì <i>oh yeahh</i>,
            chắc hẳn là chúng ta có duyên rồi. Vậy thì sao không lập tức kết nối, và cùng chém gió về mọi thứ trên đời !? :>
        </p>
        <div class="social-network">
            <a href="https://facebook.com/van85204" target="_blank" title="Facebook"><i class="fab fa-facebook"> </i>: Vấn </a> 
            <a href="https://www.instagram.com/van_vnice" target="_blank" title="Instagram"><i class="fab fa-instagram"></i>: van_vnice </a> 
            <a href="https://www.tiktok.com/&commat;vnice85" target="_blank" title="Tiktok"><i class="fab fa-tiktok"></i>: vnice85 </a> 
        </div>
        <div class="text-center ">
            <hr style="border: 1px dashed #6f6f6f; flex-grow: 1; margin-right: 10px;" />
            <a href="/diary/index" class="btn btn-outline-danger mt-3">Khám phá</a>
        </div>

    </div>
</div>
