
@{
    ViewBag.Title = "Hướng dẫn";
}
<style>
   
    p,  span {
        color: #6f6f6f;
        font-size: 14px;
        line-height: 26px;
    }
 
  
   
    a:hover {
        color: black;
    }

    html.dark-theme a:hover {
        color: white;
    }

    html.dark-theme body{
        color: #6f6f6f !important;
    }

 

    @@media only screen and (max-width: 1000px) {
        .side_image {
            display: none;
        }
    }
</style>

<div class="container">
    <div class="text-center text-capitalize">
        <h2>Hướng dẫn sử dụng</h2>
        <hr />
    </div>
    <h4>- Chỉ định</h4>
    <p>Sản phẩm chỉ định sử dụng khi gặp khó khăn hay mệt mỏi trong cuộc sống. Sản phẩm cũng dùng cho người muốn yêu thương và xứng đáng với tình yêu tốt đẹp.</p>
    <h4>- Hướng dẫn sử dụng</h4>
    <p>Nếu hôm nay bạn gặp các bệnh như mô tả. Hãy lấy 1 viên và mở nó ra. <b>Nhớ uống đúng bệnh</b>. Một ngày không uống quá 2 viên. Cận thận 
    <span style="background-color:#ff000076;"><i><b><del>sốc thuốc</del></b></i></span>!!  </p>
    <div style="border: 5px dashed #85683348; padding: 20px; border-radius: 30px;">

        <img class="side_image" src="~/Data/drug.jpg" style="float: right; max-width: 440px; border-radius: 20px;" alt="Alternate Text" />
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--yellow);">Vàng:</span> Khi cậu buồn</p>
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--pink);">Hồng:</span> Khi cậu vui vẻ</p>
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--light-violet);">Tím nhạt:</span> Khi cậu cô đơn</p>
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--red);">Đỏ:</span> Khi cậu mệt mỏi</p>
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--violet);">Tím đậm:</span> Điều T muốn tâm sự</p>
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--blue);">Xanh dương:</span> Kỉ niệm của chúng ta</p>
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--green);">Xanh lá:</span> Lí do T yêu cậu</p>
        <p><span style="padding: 5px 10px 0; border-radius: 10px; background-color: var(--default);">Mặc định:</span> Nhật ký thường</p>
    </div>
    <div class="text-center mt-5" style="margin-bottom: 100px;">
       
            <a href="/"> ⬸ Quay lại</a>
      

    </div>
</div>




